h3 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  margin: 5px;
}

p {
  font-family: "Nanum Pen Script", cursive;
  border: 2px solid #000;
  margin-top: 0;
  margin-bottom: 10px;
  border-radius: 2px;
  transform: skew(-2deg);
}

.app {
  text-align: center;
  margin: auto;
  padding: 50px 0;
  width: 50%;
  height: 100vh;
}

.topic {
  margin-bottom: 2px;
  background-color: rgb(204 197 197);
  border: 2.5px solid black;
  border-radius: 3px;
  transform: skew(2deg);
}
